// @import "./assets/styles/_variables.scss";
$a-accent: #2d31a6;
$a-gray-BD: #bdbdbd;

.filter-gray-60 {
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity: 0.6;
}
.region-card {
  box-shadow: inset 0px 0px 0px 1px $a-gray-BD;
  border-radius: 4px;
  cursor: pointer;
  img {
    height: 24px;
  }
  &.active {
    box-shadow: inset 0px 0px 0px 1.5px $a-accent;
  }
  .card-text {
    width: 100%;
  }
  position: relative;
}
.region-card {
  width: 100%;
}
.add-price {
  display: inline-block;
  min-width: 67px;
}
.bookmark {
  position: absolute;
  top: -20px;
  height: 22px;
  left: 0;
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
